<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     <!--   <class name="org.testing.testscripts.TC1_LoginTrending"/>-->
     <!--   <class name="org.testing.testscripts.TC2_LoginHistory"/>-->
     <!--   <class name="org.testing.testscripts.TC3_LoginSubscriptions"/>-->
     <!--   <class name="org.testing.testscripts.TC4_LoginPlayLike"/>-->
     <!--   <class name="org.testing.testscripts.TC5_LoginPlaySubscribe"/> -->
     <!--   <class name="org.testing.testscripts.TC6_LoginAddcomment"/>--> 
     <!--   <class name="org.testing.testscripts.TC7_LoginWatchlater"/>-->
       	<class name="org.testing.testscripts.TC8_LoginLibrary"/>

    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
